.idea
/build
/cmake-build-debug
/.vscode
/test
CourtCaseScheduler.DS_Store
CourtCaseScheduler
*.json
!quality_test.json
.DS_Store
*/__pycache__/*
/venv/bin/*
/venv
*.prof
src/*/__pycache__/*
*.pyc
*.prf
*.csv
